.table-input{
    width:800px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.table-title{
    text-align: center;
}
.radio-select-btn{
    display: flex;
    justify-content: space-around;
}
.export-btn{
    width : 150px
}
.edit-delete{
    background-color: rgb(56, 94, 177);
    padding: 12px;
    font-size: 17px;
    margin: 7px;
    border-radius: 10px;
     color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 10px  rgb(108, 56, 177);
}
@media only screen and (max-width: 580px) {
    .radio-select-btn{
        display: flex;
      
    }
    .export-btn{
        width : 30px !important;
        height: 40px!important;
    }
    .table-input{
        width:90vw !important;
        margin: auto;
        margin-bottom: 10px;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .input-radio{
        display: flex;
    }
    .export-btn{
        display: none !important;
    }
}

